<div class="no-questions">
    <img src="/images/noquestions.svg" alt="Sem Perguntas">
    <p>Nenhuma pergunta por aqui...</p>
    <p>Faça sua primeira pergunta e envie o <br> código da sala para outras Perguntas</p>
</div>
